@page "/"
@inject JsInterop JS
@inject NavigationManager NavMgr

<PageTitle>Webber</PageTitle>

<div class="WeatherBlockPanel"><WeatherBlockPanel /></div>
<div class="TimeBlockPanel" @onclick="@(e => { _overlayShown = true; })"><TimeBlockPanel /></div>
<div class="PingBlockPanel"><PingBlockPanel /></div>
<div class="RouterBlockPanel"><RouterBlockPanel /></div>
<div class="TimeUntilBlockPanel"><TimeUntilBlockPanel /></div>
<div style="display:none"><ReloadBlockPanel /></div>

@if (_overlayShown)
{
    <div class="ControlsOverlay">
        <button @onclick="@(e => { _overlayShown = false; })">Dismiss</button>
        <button @onclick="@(async e => { await JS.ReloadPage(); })">Force Reload</button>
        <button @onclick="@(e => { NavMgr.NavigateTo("/httping"); })">HTTPing</button>
        <button @onclick="toggleFullscreen">@(_isFullscreen ? "Exit Full Screen" : "Full Screen")</button>
    </div>
}

@code {
    private bool _overlayShown = false;
    private bool _isFullscreen = false;

    private async Task toggleFullscreen()
    {
        _overlayShown = false;
        await (_isFullscreen ? JS.ExitFullscreen() : JS.EnterFullscreen());
        _isFullscreen = !_isFullscreen;
    }
}
