@using Webber.Client.Models

<BlockPanel TDto="WeatherBlockDto">
    @if (context.LastUpdate != null)
    {
        <div style="display: grid; grid-template-rows: min-content min-content 1fr min-content; height: 100%;">
            <div style="color: @context.LastUpdate.CurTemperatureColor; font-size: 200%; font-weight: bold; margin-bottom: 1vw; text-align: center;">@temp2str(context.LastUpdate.CurTemperature) °C</div>
            <div style="display: grid; grid-template-columns: 1fr repeat(4, min-content) 1fr">
                <div></div>
                <div style="color: @context.LastUpdate.MinTemperatureColor; text-align: right;">@temp2str(context.LastUpdate.MinTemperature) °C</div>
                <div class="minmaxText" style="padding-right: 1.3vw;">at</div>
                <div>@context.LastUpdate.MinTemperatureAtTime</div>
                <div class="minmaxText">@context.LastUpdate.MinTemperatureAtDay</div>
                <div></div>

                <div></div>
                <div style="color: @context.LastUpdate.MaxTemperatureColor; text-align: right;">@temp2str(context.LastUpdate.MaxTemperature) °C</div>
                <div class="minmaxText" style="padding-right: 1.3vw;">at</div>
                <div>@context.LastUpdate.MaxTemperatureAtTime</div>
                <div class="minmaxText">@context.LastUpdate.MaxTemperatureAtDay</div>
                <div></div>
            </div>
            <div></div>
            <div style="display: grid; grid-template-columns: min-content 1fr min-content 1fr min-content; align-items: baseline;">
                <div><span class="sunmoon">☀️</span> @context.LastUpdate.SunriseTime</div>
                <div></div>
                <div><span class="sunmoon">🌙</span> @context.LastUpdate.SunsetTime</div>
                <div></div>
                <div style="color:#aaa; font-size:80%; margin-left: 1.5vmin">@context.LastUpdate.SunsetDeltaTime</div>
            </div>
        </div>
    }
</BlockPanel>

@code {
    string temp2str(decimal temp) => (temp < 0 ? "–" : "") + Math.Abs(temp).ToString("0");
}